<h1>Welcome to the dashboard</h1>

<h2>My Sheeps</h2>
<% @user_sheeps.each do |sheep| %>
    <div>
      <%= link_to sheep.nickname, sheep_path(sheep) %>
        <span>
          <% if policy(sheep).destroy? %>
            <%= link_to sheep_path(sheep),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
              <i class="las la-trash-alt"></i>
            <% end %>
          <% end %>
        </span>
        <div>
          <%if sheep.photo.attached?%>
            <%= cl_image_tag sheep.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
      </div>
  <% end %>


<h2>My Bookings</h2>
<%@user_bookings.each do |book| %>
  <div>
      <div>
        <p><%= book.sheep.nickname %></p>
        <p><%= book.sheep.user.first_name %></p>
        <%= raise %>
        <p><%= book.start_date %></p>
        <p><%= book.end_date %></p>
        <%if book.sheep.photo.attached?%>
          <%= cl_image_tag book.sheep.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>
<% end %>
