<div class="container">
  <h1>All sheeps</h1>
  <div>
    <% if policy(Sheep).create? %>
    <h5><%= link_to "Put my sheep on rent", new_sheep_path%></h5>
    <% end %>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <% @sheeps.each do |sheep| %>
    <div class="col mb-4">
      <div class="card-sheep">
        <%= link_to sheep_path(sheep) do %>
          <img src= '<%= cl_image_path sheep.photo.key, height: 300, width: 400, crop: :fill %>'>
          <% end %>
        <div class="card-sheep-infos">
          <div>
            <h2><%= link_to sheep.nickname, sheep_path(sheep) %></h2>
            <p>Short description here!</p>
          </div>
          <span>
            <% if policy(sheep).destroy? %>
            <%= link_to sheep_path(sheep),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <i class="las la-trash-alt"></i>
            <% end %>
            <% end %>
          </span>
          <h2 class="card-sheep-pricing"><%= sheep.price_per_day %> euros per day</h2>
          <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['pk.eyJ1IjoiY2VsaWFmcmFuY2VzY2hpIiwiYSI6ImNrNzRqNjRtbzAweHQzaHIxaWRwaDMyZnUifQ.T_UEiJGlixr-e1MYhjPuiw'] %>"
></div>

</div>
