<h1><%= @sheep.nickname %></h1>
<div>
<p> <%= @sheep.nickname.capitalize %> can crop <%=@sheep.square_meter_per_hour%> meters square per hour. </p>
</div>
<div>
<p>Price : <%=@sheep.price_per_day %> euros per day</p>
</div>
<% if policy(@sheep).edit? %>
  <%= link_to "Edit", edit_sheep_path(@sheep) %>
<% end %>

<%= link_to "Back to all sheeps", sheeps_path %>






